<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/styles/style.css">
  <title>Login</title>
</head>
<body>

  <header>
    <nav>
      <a href="index.html">Inicio</a>
      <a href="#">Opción 2</a>
      <a href="#">Opción 3</a>
      <a href="#">Opción 4</a>
    </nav>
    <span style="color:white; font-weight: bold;">Iniciar Sesión</span>
  </header>

  <main>
    <h1>Iniciar Sesión</h1>
    <h2>Ingrese su correo y contraseña</h2>
    <div class="login-form">
      <label for="email">Correo:</label>
      <input type="email" id="email" placeholder="tucorreo@ejemplo.com">

      <label for="password">Contraseña:</label>
      <input type="password" id="password" placeholder="Contraseña">

      <button onclick="iniciarSesion()">Iniciar Sesión</button>
    </div>
  </main>

  <script src="/static/scripts/inicioSesion.js"></script>

</body>
</html>